.mainCategoryCard {
  width: 100%;
}

.CategoryCardImg {
  position: relative;
  height: 300px;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 4px;
  overflow: hidden;
}

.CategoryCardInfo {
  padding: 10px 2px;
}

.CategoryDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CategoryDetails h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  font-family: "Inter";
}

.CategoryDetails p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  color: var(--light-gray);
}

.CategoryDetails p span {
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CategoryCardInfo button {
  background: var(--primary-color);
  padding: 12px 30px;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 4px;
  font-family: "Inter";
}
